{% extends 'base.html.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Person List</div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in persons %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{person}}</td>
                            <td>
                                <a class="btn btn-primary" role="button" href="{{path('person_edit',{'person': person.id})}}">Edit</a>
                                <a class="btn btn-danger" role="button" href="{{path('person_delete',{'person': person.id})}}">Delete</a>
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-3"><a class="btn btn-primary" role="button" href="{{path('person_add')}}">Add</a></div>
            </div>
        </div> 
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
